*{
  margin:0;
  padding:0;
 font-family: sans-serif;
}
/* Navbar css */
nav{
  display: flex;
  margin-top: 25px;
}
/* Navbar img  */
.navbar_img img{
  width: 150px;
  height: 100px;
margin-top:-25px;
}
/* Navbar img  */
/* Navar icon  */
.navbar_icon{
  margin-left: 120px;
}
.navbar_icon ul{
  display: flex;
  list-style: none;
}
.icon{
  margin-left: 45px;
  text-align: center;
}
.icon i{
  margin-bottom:15px;
  color:#666666;
}
.icon a{
  text-decoration:none;
  color: #666666;
}
.icon_2 a{
   margin-left: 40px;
   color:white;
   text-decoration: none;
   padding: 17px;
   border-radius: 30px;
   background:#0A66C2;
   font-weight: bold;
}
/* Navar icon  */
/* Navbar css */
/* Professional css */
.parental{
  display: flex;
  margin-top: 15px;
}
/* Professional text css */
.content_1{
  width: 40%;
  margin: 70px;
}
.content_1 h1{
  color:#666666;
  font-size: 38px;
  font-weight: 100;
}
/* Professional text css */
/* Professional img css */
.content_2 img{
  width: 90%;
  margin-left: 64px;
}
/* Professional img css */
/* Professional css */
/* Espolre css */
.explore{
  display:flex;
  margin-top: 100px;
}
/* Explore text css */
.container_1{
width: 51%;
margin-top: 40px;
margin-left: 30px;
}
.container_1 h2 {
font-size: 35px;
font-weight:40;
margin-bottom: 13px;
}
.container_1 h3{
  font-size:21px;
  font-weight:20;
}
/* Explore text css */
/* Link section css */
.container_3{
margin: 45px;
}
.container_3 a{
  padding:15px;
  border:1px solid black;
  border-radius:20px;
  text-decoration: none;
  color:black;
}
.container_4{
  margin: 45px;
}
.container_4 a{
  text-decoration: none;
color: #0A66C2;
padding:15px;
border: 1px solid #0A66C2;
border-radius:20px;
}
/* Link section css */
/* Espolre css */
/* Job css */
.job{
  display: flex;
  margin-top: 60px;
}
.jobcontainer{
width: 53%;
}
.jobcontainer_1{
  width:50%;
  margin-left: 80px;
  margin-top:40px;
}
.jobcontainer_1 h2{
  font-size:33px;
  font-weight: 90;
}
/* Job css */
/* Post css */
.job_parental{
text-align: center;
margin-top: 100px;
}
.job_content h2{
  color:#B84020;
  font-size:33px;
  font-weight: 50;
  margin-bottom: 50px;
}
.job_content a{
  text-decoration: none;
  border:2px solid #0A66C2;
  padding:15px;
  border-radius:20px;
  color:#0A66C2;
}
/* Post css */
/* Software css */
.software{
  display: flex;
  margin-top:140px;
}
.software_container{
  width: 50%;
    margin-left: 30px;
  margin-top:40px;
}
.software_container h2{
  font-size: 35px;
font-weight:40;
margin-bottom: 13px;
}
.software_container h3{
   font-size:21px;
  font-weight:20; 
}
/* Software css */
/* Games css */
.game{
  display: flex;
  margin-top: 70px;
}
.game_parental{
 width: 52%;
}
.game_container{
   width: 55%;
   margin-top: 40px;
margin-left: 30px;
}
.game_container h2{
  font-size: 35px;
font-weight:40;
}
.game_container h3{
    font-size:21px;
  font-weight:10;
  margin-top: 20px;
}
/* Games css */